html {
    background-color: #dddddd;
    width: 100dvw;
    height: 100dvh;
    font-size: 1.5dvw;
}

body {
    margin: 0;
    padding: 5dvw 5dvh;
}

.tab {
    display: none;
    overflow: hidden;
    height: 85dvh;
}

.tab--active {
    display: block;
}

.menu__item--active {
    background-color: #49dbff;
}

.menu__icon {
    width: 2dvw;
}

.webview__url {
    width: calc(90dvw - 3rem);
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.webview__frame {
    display: block;
    width: 100%;
    height: calc(100% - 6rem);
    margin: 1rem;
}

.webview__search-button {
    margin-left: 1rem;
}

.footer {
    width: 100dvw;
    height: 10dvh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #e0e0e0;
    display: flex;
}

.footer .menu__item {
    flex: 1;
    width: calc(100dvw / 4);
    padding: 1dvw 1dvh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.menu__item p {
    margin: 0;
}